#sectionTwo {
    position: relative;
    margin-bottom: 20vh;
}

#sectionTwo p,
h2 {
    color: black;
}
.sectionTwo__container {
    color: black;
    text-align: center;
}

.sectionTwo__container h2 {
    font-size: 21px;
    color: black;
}

.sectionTwo__circle {
    background: #008cba;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 5px auto;
}

.sectionTwo__tabs__container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 4vh auto;
    justify-content: flex-end;
}

.sectionTwo__tabs {
    margin-right: 15px;
    color: black;
    font-size: 18px;
}

.sectionTwo__flex__container {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.sectionTwo__flex__item1 {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.sectionTwo__flex__item2 {
    display: flex;
    width: 25%;
    flex-direction: column;
    text-align: center;
}

.sectionTwo__flex__item2 p {
    margin: 10px;
}

.input {
    min-width: 300px;
    min-height: 40px;
    border: none;
    margin: 5px;
    background-color: #f5f5f5;
    padding: 5px;
}

.btnSubmit {
    background-color: #166dd5;
    min-width: 160px;
    color: white;
    border: none;
    height: 55px;
}

@media (max-width: 600px) {
    .sectionTwo__flex__container {
        width: 100%;
        flex-direction: column;
    }

    .sectionTwo__flex__item1 {
        width: 100%;
    }

    .sectionTwo__flex__item2 {
        width: 100%;
    }
}
